{% extends 'base.twig' %}

{% block content %}

<div class="m-auto w-8/12 md:w-4/12 shadow border border-slate-200 rounded p-4">
    <div class="mb-4">
        <div class="text-green-500">
            {{ getSessionMessage() }}
        </div>
    </div>

    <a href="/" class="text-blue-500 hover:text-blue-700 flex items-center mb-4">
        <span class="mr-2">&larr;</span> Homepage
    </a>

    <h1 class="text-2xl font-bold mb-4">Login</h1>

    <form action="/auth" method="POST">
        <div class="mb-4">
            <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email</label>
            <input type="email" id="email" name="email" value="{{ getField('email') }}"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <span class="text-red-500">
                {{ getErrorMessage('email') }}
            </span>
        </div>

        <div class="mb-4">
            <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
            <input type="password" id="password" name="password" value="{{ getField('password') }}"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <span class="text-red-500">
                {{ getErrorMessage('password') }}
            </span>
        </div>

        <div class="mb-4">
            <button type="submit"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Login</button>
        </div>
    </form>
</div>

{% endblock %}
